<div class="row">
    <div class="col-12">
        <div class="final">
            <h1>Go Back To..</h1>
            <form method="POST" action="">

                <button type="submit">Stats</button>

                <button type="submit">Home</button>

            </form>
        </div>
    </div>
</div>