<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Berkshire+Swash|Boogaloo|Bungee+Inline|Carter+One|Gochi+Hand|Grand+Hotel|Leckerli+One|Lobster|Merienda|Merienda+One|Nova+Mono|Oleo+Script|Rancho|Righteous|Yesteryear" rel="stylesheet">
    <link rel="stylesheet" href="/css/image/beggars.jpg">
    <link rel="stylesheet" href="/css/index.css">    
 <title>Beggar app</title>
</head>
<body>
    {{{body}}}
</body>
</html>
