<div class="dailyStats">
    <h2>Daily statistics</h2>
    <table>
        <tr>
            <th>Street</th>
            <th>Beggar Count</th>
        </tr>
        <tr>
            <td><span class="streetNameOuput">{{streetName}}</span></td>
            <td><span class="beggarCountOuput">{{beggarCount}}</span></td>
        </tr>
    </table>
    <form action="/">
        <button type="submit">Back</button>
    </form>
</div>