<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="dailyStats">Daily Statistics</div>
    <table>
        <tr>
            <th>Street</th>
            <th>Beggar Count</th>
        </tr>
        <tr>
            <td><span class="streetNameOuput">{{streetName}}</span></td>
            <td><span class="beggarCountOuput">{{beggarCount}}</span></td>
        </tr>
    </table>
</body>
</html>
