<div class="dailyStats">
    <h2>Daily statistics</h2>
    <table id='customers'>
        <tr>
            <th>Location</th>
            <th>Reporter</th>
            <th>Help</th>
            <th>Count</th>
        </tr>
        {{#each reports}}
        <tr>
            <td>{{location}}</td>
            <td>{{reporter}}</td>
            <td>{{help}}</td>
            <td>{{count}}</td>
        </tr>
        {{/each}}
    </table>
    <form method="GET" action="/">
        <button type="submit">Back</button>
    </form>
</div>