<h1>Go Back To..</h1>

<div class="row">
    <div class="col-12">
        <div class="final2">
            <form action="/statistics" method="GET">
                <button class="final" type="submit">Stats</button>
            </form>
            <form action="/" method="GET">
                <button class="final3" type="submit">Home</button>
            </form>
        </div>
    </div>
</div>