<div class="row">
    <div class="col-12">
        <div class="group">
            <form method="POST" action="/final">
                <h2>How many?</h2>
                <select name="count">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>

                <h2>Do they need any help?</h2>
 <div class="yesOrNoButtons">
        <input name="help" type="radio" value="true">Yes</input> <input name="help" type="radio" value="false">No</input>
    </div>



                Enter street name:
                <input type="text" class="streetName" name="location" placeholder="enter a street name" value="">
                <button type="submit">Finish</button>
            </form>
        </div>
    </div>