
        <div class='content'> 

            <h1>Bread Helping Beggars</h1>

            <form method='GET' action='submission'>
                
                <button class="button" type="submit">Submit Stats</button>
            </form>


            <form method='GET' action='statistics'>
                <button class="button" type="submit">View Stats</button>
            </form>

        </div>
    