<div class='row'>
    <div class='col-12'>
        <div class='content' background="/image/beggars.jpg"> 

            <h1>Bread Helping Beggars</h1>

            <form method='GET' action='submission'>
                <button type="submit">Submit Stats</button>
            </form>


            <form method='GET' action='statistics'>
                <button type="submit">View Stats</button>
            </form>

        </div>
    </div>
</div>