<div class="login">Login</div>
<form method="POST" action="/login">
    <div class="username">Username:<textarea name='user' class="usernameInputField">{{username}}</textarea></div>
    <button class="nameButton" type="submit">Submit</button>
</form>