<div class="login">Tell us your name:</div>
<form method="POST" action="/login">
    <div class="username"><textarea name='user' class="usernameInputField">{{username}}</textarea></div>
    <button class="nameButton" type="submit">Submit</button>
</form>