<div>One Person</div>
<form method="POST" action="/final">
    <div class="streetName">Enter street name: <textarea name="location" id="streetNameInputBox" cols="30"
            rows="10"></textarea></div>
    <div class="help">Do they need any serious help?</div>
    <div class="yesOrNoButtons">
        <input id='radioYes' name="help" type="radio" value="true"><label for="radioYes">Yes</label>
        <input id='radioNo' name="help" type="radio" value="false"><label for="radioNo">No</label>
    </div>
    <button type="submit" class="finishButton">Finish</button>
</form>
