<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div class="pageHeading">One Person</div>
    <form method="POST" action="/final">
        <div class="streetName">Enter street name:
            <input class="streetName" name="location" placeholder="enter street name" id="streetNameInputBox">
        </div>
        <div class="help">Do they need any serious help?</div>
        <div class="yesOrNoButtons">
            <input value=true name="help" class="big" type="radio" id='radioYes'><label for="radioYes">Yes</label>
            <input value=false name="help" class="big" type="radio" id='radioNo'><label for="radioNo">No</label>
        </div>
        <button type="submit" class="finishButton">Finish</button>
    </form>
</body>

</html>