<div class="witness">What Do You See?
    <form action="/submission/onePerson" method="GET">
        <button type="submit"> One Person </button>
    </form>
    <form action="/submission/group">
        <button type='submit'> Group </button>
    </form>
</div>