<div class="witness">What Do You See?</div>
<form method="GET" action="/submission/onePerson">
    <button type="submit"> One Person </button>
    <button type="submit" formaction="/submission/group"> Group </button>
</form>
</body>